<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.quizopedia/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.quizopedia.view.user/UserListView.title"/>
        <item view="Tema.list" title="msg://com.company.quizopedia.view.tema/temaListView.title"/>
        <item view="Turma.list" title="msg://com.company.quizopedia.view.turma/turmaListView.title"/>
        <item view="Questionario.list"
              title="msg://com.company.quizopedia.view.questionario/questionarioListView.title"/>
    </menu>
    <menu id="security">
        <item view="sec_ResourceRoleModel.list"
              title="msg://io.jmix.securityflowui.view.resourcerole/resourceRoleModelListView.menu"/>
        <item view="sec_RowLevelRoleModel.list"
              title="msg://io.jmix.securityflowui.view.rowlevelrole/rowLevelRoleModelListView.menu"/>
    </menu>
    <menu id="datatools">
        <item view="datatl_entityInspectorListView"
              title="msg://io.jmix.datatoolsflowui.view.entityinspector/listTitle"/>
    </menu>

</menu-config>